<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <title>Panel Cliente</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='css/cliente_dashboard.css') }}">
</head>
<body>

  <div class="header-container">
    <nav class="navbar">
      
      <div class="header">
        <img src="{{ url_for('static', filename='img/logooo.png') }}" alt="Logo" class="logo">
        <h1 class="nombre-logo">Parrilla 51</h1>
      </div>

      <div class="navbar-links">
        <a href="{{ url_for('dashboard.cliente_reservar') }}">Reservar</a>
        <a href="{{ url_for('cliente.cliente_productos') }}">Ver Menú</a>
        <a href="{{ url_for('cliente.cliente_carrito') }}">Ir al carrito</a>
        <a href="{{ url_for('cliente.cliente_ver_reservas') }}">Mis reservas</a>
        <a href="{{ url_for('cliente.cliente_mis_pedidos') }}">Mis Pedidos</a>
      </div>

      <div class="profile-dropdown">
        <img src="{{ url_for('static', filename='img/perfil.png') }}" alt="Perfil" class="profile-img" id="profileBtn">
        <div class="dropdown-menu" id="profileMenu">
          <p class="user-name">{{ session["nombre_usuario"] }}</p>
          <a href="{{ url_for('auth.logout') }}">Cerrar sesión</a>
        </div>
      </div>
    </nav>
  </div>

  <div class="content">
    <h1>Bienvenido(a), {{ session["nombre"] }} 🥩</h1>
    <p>Carne 100% colombiana</p>

    <div class="image-container">
      <img src="{{ url_for('static', filename='img/churrasco.jpg') }}" alt="Imagen bienvenida">
      <div class="shine"></div>
    </div>
  </div>

  <footer style="background-color: #1c1d1e; color: white; padding: 20px 0; text-align: center;">
    <section id="seccion-inicio">
      <div class="historia">
        <h2>Nuestra Historia</h2>
        <p>
          Parrilla 51 es un restaurante fundado en Bogotá en la localidad de Chapinero, en el año 1997,
          el cual se destaca por su carne 100% colombiana, en el cual tienes que probar su delicioso churrasco.
        </p>
      </div>
        
      <div class="info-box">
        <div>
          <h3>Horarios</h3>
          <p>Lunes a Domingo 11:30 A.M. - 4:30 P.M.</p>
        </div>

        <div>
          <h3>Datos</h3>
          <p>calle. 51 #16a - 71 Bogotá, Colombia</p>
          <p>📞 2487990</p>
        </div>
      </div>
    </section>
  </footer>

  <script src="{{ url_for('static', filename='js/cliente_dashboard.js') }}"></script>
</body>
</html>
