<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <title>Menú</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='css/cliente_productos.css') }}">
</head>

<body>

    <h4 style="text-align: center;">Todos nuestros cortes serán servidos con dos (2) acompañamientos</h4>
    <p>Bebida no incluida</p>


    <div class="filtros">
        <button onclick="filtrar('cerdo')">Cerdo</button>
        <button onclick="filtrar('res')">Res</button>
        <button onclick="filtrar('pollo')">Pollo</button>
        <button onclick="filtrar('plato del dia')">Plato del día</button>
        <button onclick="filtrar('acompañamientos')">Acompañamientos</button>
        <button onclick="filtrar('entradas')">Entradas</button>
        <button onclick="filtrar('platos combinados')">Platos combinados</button>
        <button onclick="filtrar('cortes gruesos')">Cortes gruesos</button>
        <button onclick="filtrar('bebidas')">Bebidas</button>
        <button onclick="filtrar('adicionales')">Adicionales</button>
    </div>

    <div id="imagen-fondo">
        <img src="{{ url_for('static', filename='img/Vaca.png') }}" alt="vaca">
    </div>

    <div class="productos">
        {% for p in productos %}
        <div class="card producto-card" 
            data-categoria="{{ p.get('nombre_categoria', 'sin categoría') | trim | lower }}" 
            style="display:none;">   

            {% if p.imagen %}
                <img src="{{ url_for('static', filename='img/' ~ p.imagen) }}" alt="{{ p.nombre }}">
            {% else %}
                <img src="{{ url_for('static', filename='no-image.png') }}" alt="{{ p.nombre }}">
            {% endif %}

            <h3>{{ p.nombre }}</h3>
            <p><strong>Precio:</strong> COP ${{ "{:,.0f}".format(p.precio).replace(",", ".") }}</p>
            <p><strong>Categoría:</strong> {{ p.get('nombre_categoria', 'Sin categoría') }}</p>
            <p><strong>Descripción:</strong> {{ p.get('descripcion', 'Sin descripción') }}</p>

            <div class="acciones">
                <form method="POST" action="{{ url_for('cliente.agregar_carrito', id_producto=p.id_producto) }}" onsubmit="mostrarMensaje(event)">
                    <input type="number" name="cantidad" value="1" min="1">
                    <button type="submit" class="btn">🛒 Agregar</button>
                </form>
            </div>
        </div>
        {% endfor %}
    </div>

    <div id="mensaje-agregado">✅ Producto agregado al carrito</div>

<p><a href="{{ url_for('dashboard.cliente_dashboard') }}" class="volver">← Volver</a></p>

<script src="{{ url_for('static', filename='js/cliente_productos.js') }}"></script>
</body>
</html>
